* @kubagruszka @djasiok @den314 @adriannowak @KrzysztofDzioba @lukasz-andrzejak @pavlo-reshetniak
/appstore-metadata-service/ @kubagruszka @djasiok @den314 @adriannowak @KrzysztofDzioba @lukasz-andrzejak
/appstore-metadata-service-tests/ @pavlo-reshetniak