* @saranhada @kubagruszka @djasiok @alewir @AnDyXX @den314 @adriannowak
/appstore-metadata-service/ @saranhada @kubagruszka @djasiok @AnDyXX @den314 @adriannowak
/appstore-metadata-service-tests/ @alewir